@use 'globals' as *;
@use 'notfound';
@use 'index';
@use 'loadpanel';

::before, ::after, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  font-size: calc(1vw + 0.5em);
  @media (min-width: 35em) {
    font-size: 1em;
  }
}

.fullscreen-window {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  background-color: #00000098;

  .fullscreen-window__form {
    background-color: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    align-items: center;

    & > * + * {
      margin-top: 0.5em;
    }
  }
}

.fullscreen-window__form {

  button {
    padding: 0.2em 0.5em;
    border: none;
    @include dark-hover(#5959c9, 10%);
    color: white;
    border-radius: 7px;
  }

  input {
    font-size: 1.1em;
    padding: 0.2em;
  }

}

*.closed {
  display: none;
}

$popup-margin: 10px;
.popup {
  max-width: 500px;
  position: fixed;
  z-index: 99;
  right: $popup-margin;
  top: $popup-margin;
  background-color: white;
  border-radius: 7px;
  padding: 0.5em;
  color: #606060;

  transform: translateY(-200%);
  transition: 1s transform ease-out;

  &.active {
    transform: translateY(0%);
  }
}